.calendarContainer{
  background: #f9f9f9;
  padding: 20px;
  text-align: center;
}

.calendarHead{
  padding: 20px 0px;
  color: #4b4a4a;
  font-size: 18px;
  font-weight: bold;

}

.calendarHead tr td{
  padding: 15px 0px;
}
  
.navCalendar{
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
  
.monthName{
  padding: 4px;
  transition: .4s;
  font-size: 20px;
  color: crimson;
  align-self: center;
  cursor: pointer;
}

.monthName:hover{
  transition: .4s;
  color: #f9f9f9;
  background: crimson;
}

.calendarBtn{
    width: 40px;
    height: 40px;
    color: crimson;
    background: transparent;
    border: none;
    transition: .4s;
}

.calendarBtn:hover{
    transition: .4s;
    background: crimson;
    color: #f9f9f9;
}